<?xml version='1.0' encoding='utf-8'?>
<widget id="Bookstore.tabris.app" version="1.0.0">
    <name>Bookstore</name>
    <description>
        Tabris - Bookstore native app
    </description>
    <author email="edgardo.jimenez@live.com" href="https://edgardojimenez.com">
        Edgardo jimenez
    </author>
</widget>